<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolzApp by Simone</title>
  </head>
  <body>

    <div id="background">

      <main id="app">

        <!-- Section Left -->
        <section id="left">

          <!-- Section left top -->
          <div class="top">

            <img src="img/avatar_io.jpg" alt="avatar_io">

            <div class="top-name">
              Nome Utente
            </div>

            <div class="top-icons silver">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>

          <!-- Section left notifications -->
          <div id="att-not">
            <div>
              <i class="fas fa-bell-slash"></i>
            </div>
            <div>
              <div>
                Ricevi notifiche di nuovi messaggi
              </div>
              <div>
                <a href="index.html">Attiva notifiche desktop</a>
              </div>
            </div>
          </div>

          <!-- Section left search chat -->
          <div id="src-chat" class="silver">
            <div>
              <i class="fas fa-search"></i>
              <input v-model="searchKey" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>

          <!-- Chat list -->
          <div id="chatlist">
            <div class="contacts" v-for="(contact,i) in rub" v-if="contact.name.toLowerCase().indexOf(searchKey.toLowerCase())>-1" @click="activeChat(i)" :class="{'selected': i===active}">
              <img :src="contact.img" alt="avatar1">
              <div class="contact-elm">
                <div class="contact-name">
                  {{contact.name}}
                </div>
                <div class="contact-prev silver" v-if="contact.chat.length-1 > 0">
                  {{contact.chat[contact.chat.length-1].text}}
                </div>
              </div>
              <div class="prev-time silver">
                {{contact.lastOnline}}
              </div>
            </div>
          </div>

        </section>

        <!-- Section Right -->
        <section id="right">

          <!-- Section right top -->
          <div class="top">

            <img :src="rub[active].img" alt="avatar">
            <div class="top-name">
              <div>
                {{rub[active].name}}
              </div>
              <div class="silver">
                Ultimo accesso {{rub[active].lastOnline}}
              </div>
            </div>

            <div class="top-icons silver">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>

          <!-- Section right main chat -->
          <div id="mainchat">

            <div v-for="(message, i) in rub[active].chat" :class="message.type==='out' ? 'green' : 'white'">
              <div class="message">
                <div class="msg-text">
                  {{message.text}}
                </div>
                <div class="msg-time">
                  {{message.time}}
                </div>
                <div class="msg-menu-v" @click="selectMsg(i)">
                  <i class="fas fa-caret-left"></i>
                </div>
                <div class="msg-menu-window" :class="{'selected': rub[active].chat[i].isSelected === true}" @click="deleteMsg(i)">
                  Cancella messaggio
                </div>
              </div>
            </div>

          </div>

          <!-- Section right input new mex -->
          <div id="rightbottom">
            <i class="far fa-smile"></i>
            <div>
              <input v-model="inputMsg" class="silver" type="text" placeholder="Scrivi un messaggio" @keypress.enter="pushNewMsg">
            </div>
            <i class="fas fa-microphone" @click="pushNewMsg"></i>
          </div>

        </section>

      </main>

    </div>


    <script src="js/script.js"></script>
  </body>
</html>
